*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #272727;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    transition: 1s;
}


#game_button
{   
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0;
}

#game_field,
#game_button {
    background: #2a1b3d;
    padding: 20px;
    border-radius: 20px;
}

#game_field {
    
    margin: 20px auto 0;
    display: block;
    position: relative;
}

#game_field > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #8265A8;
    border-radius: 5px;
    cursor: pointer;

    transition: top 0.3s ,left 0.3s;
}

#game_button button {
    padding: 10px 20px;
    border-radius: 5px;
    background: #8265A8;
    border: none;
    color: #fff;
    cursor: pointer;
}